@import '~bootstrap/scss/bootstrap'; //the following styles are from the video

body {
  background: #F8F1F1;
  display: flex;
}

#sign-up {
  display: flex;
  text-align: center;
}

forms {
  // display: flex;
  // flex-wrap: wrap;
  margin: 100%;
}

hi {
  text-align: center;
}

.container {
  // Set container to take up 100% of the vp's height
  // to scale to the entire height
  height: 100vh;
  height: 400px;
  width: 500px;
  display: flex;
  margin-top: 175px;
}

.btn {
  margin: 10px;
}

.board {
  // Margin to keep left at right margins the same
  margin: auto;
  // Set max size of board to ve 100% of viewport's max-height // -75px. for buffer at the bottom
  max-height: calc(100vh - 75px);
  min-width: calc(100vh - 75px);
  // background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSImFKKr1RuR39SorkzE9TMXW0-GheDklA5sg&usqp=CAU");
  // background-size: cover;
  // background-repeat: no-repeat;
  // border: 2px solid black;
  display: flex;
  justify-content: center;
}

.box {
  // Add a solid black line to the right of each, for columns
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  // Selects 3 right boxes.
  // 3n selects every third elememt
  &:nth-child(3n) {
    border-right: 0;
  }
  // Selects the last 3 elements
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
  // Set min height for each box
  min-height: calc(100% / 3);
  // Center text on game-board
  display: flex;
  justify-content: center;
  // Set vertical
  align-items: center;
  // Set background to white, change to transparent on click of box
  background-color: white;
  color: white;
  // make x and 0's larger
  font-size: 15vh;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);

  &:hover {
    // background-color: lightblue;
  }
  user-select: none;
}

#box0 {
  background-color: #a3d2ca;
}

#box1 {
  background-color: red;
}

#box2 {
  background-color: #a3d2ca;
}

#box3 {
  background-color: red;
}

#box4 {
  background-color: #a3d2ca;
}

#box5 {
  background-color: red;
}

#box6 {
  background-color: #a3d2ca;
}

#box7 {
  background-color: red;
}

#box8 {
  background-color: #a3d2ca;
}
// * {
//   box-sizing: border-box;
// }
//
// body {
//   background-color: lightblue;
//   margin: auto 0;
// }
//
// // use sass
// .box-zero {
//   width: 200px;
//   height: 200px;
//   background-color: yellow;
// }
// .box-one {
//   width: 200px;
//   height: 200px;
//   background-color: blue;
// }
// .box-three {
//   width: 200px;
//   height: 200px;
//   background-color: red;
// }
// .box-four {
//   width: 200px;
//   height: 200px;
//   background-color: green;
// }
// .box-five {
//   width: 200px;
//   height: 200px;
//   background-color: navy;
// }
// .box-six {
//   width: 200px;
//   height: 200px;
//   background-color: yellow;
// }
// .box-seven {
//   width: 200px;
//   height: 200px;
//   background-color: gray;
//
// }
// .box-eight {
//   width: 200px;
//   height: 200px;
//   background-color: purple;
// }
// .box-nine {
//   width: 200px;
//   height: 200px;
//   background-color: orange;
// }
//
// #game-board {
//   margin: auto;
//   width: 500px;
//   height: 100px;
// }
// #sign-in {
// // margin: auto;
// // width: 50%;
// // border: 3px dotted bla
// // padding: 2%;;
// }
